/* Set the border color */

body{
    overflow-x:hidden;

}
.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.half{
    height : 10vh;
}

.img-fit{
    width: 100%;
    height: 100%;
}
.btn-wrap{
    width : 40%;
}

.index-text{
    font-size: larger;
}

.sidebar-item:hover{
    background-color: rgb(230,230,230,0.9) ;
}
.sub-item:hover{
    background-color: rgb(230,230,230,0.9) ;

}

.my-chip{
    background-color: rgb(210,210,210,0.9) ;
}

.search{
    display : none ;
    max-height : 130px;
    overflow-y: scroll;

}
.chips{
    background-color: rgb(210,210,210,0.9);

}
.my-nowrap{
    white-space: nowrap;
}
#mysidebar{
    overflow: hidden;
}
.text-overflow{
    overflow-wrap:break-word;
}
.apexcharts-canvas{
    background-color: white !important;
}
.limit{
    max-height: 200px !important;
    overflow-y: auto;
}

.table-responsive{
    overflow-y: auto;
}
.select-formulaire{
    border: none !important;
    border-bottom: 1px solid rgb(71, 69, 69) !important;
}


